<div class="product-preview">
  <div class="product">
    <img src="{{default-image.images.large.url}}"/>
  </div>
  <div class="product-info">
    <label for="name" class="inline">Name</label>
    <a href="{{url}}" target="_blank">
      <p class="name">{{default name "(No Name)"}}</p>
    </a>
    <label for="price" class="inline">Price</label>
    <p class="price">{{default price "(Price Missing)"}}</p>
    <label for="description" class="inline">Description</label>
    <div class="description">
      {{{default description "(No Description)"}}}
    </div>
  </div>
  <button class="close-button reveal-close small">Close</button>
</div>
