<div class="content">
  <div class="page-step-actions">
    <a class="js-next button small" href="/{{store-id}}/pages/{{page.id}}/publish">Save &amp; Continue</a>
  </div>
  <h2>Product</h2>

  <div class="filter-actions row">
    <form class="switch-toggle switch-3 panel">
      <input id="filter-import-product" name="filter" type="radio" checked>
      <label for="filter-import-product">Import</label>

      <input id="filter-all-product" name="filter" type="radio">
      <label for="filter-all-product">All</label>

      <input id="filter-added-product" name="filter" type="radio">
      <label for="filter-added-product">Added</label>

      <a class="button"></a>
    </form>
  </div>

  <hr />

  <form class="add-content">
    <div class="add-by-url">
      <label>Add By Url</label>
      <input id="js-content-url" type="text" />
      <button class="small">Add</button>
    </div>
  </form>

  <div class="import-list row">
    <div class="large-6 columns">
      <span class="link">
        <b>URL:</b>
        <a href="{{url}}" target="_blank">http://gap.com/asdkjaskd/</a>
      </span>
    </div>
    <div class="large-3 columns text-right status-{{status}}">
      Finished
    </div>
    <div class="large-3 text-right columns action">
      <button href="#" class="small refresh">Refresh</button>
      <button href="#" class="small remove">Remove</button>
    </div>
    <div class="large-6 columns">
      <span class="link">
        <b>URL:</b>
        <a href="{{url}}" target="_blank">http://www.gap.com/browse/product.do?pid=351401&locale=en_US&kwid=1&sem=false&sdReferer=http%3A%2F%2Fcampaign-test-local%3A9000%2F</a>
      </span>
    </div>
    <div class="large-3 columns text-right status-{{status}}">
      In Progress
    </div>
    <div class="large-3 text-right columns action">
      <button href="#" class="small refresh">Refresh</button>
      <button href="#" class="small remove">Remove</button>
    </div>
  </div>
  <hr />

  <form class="product-options">
    <fieldset class="product-filter-actions">
      <legend>Filters</legend>
      <div class="filter-product-tags">
        <label>Tags</label>
        <input id="js-filter-product-tags" type="text" />
      </div>
    </fieldset>
    <fieldset class="filter-sort-actions">
      <legend>Sort</legend>
      <label>Sort</label>
      <select id="js-filter-sort-order">
        <option value="ascending">Most Recent First</option>
        <option value="descending">Least Recent First</option>
      </select>
    </fieldset>
  </form>

  <div class="product-item-actions">
    <button class="js-select-all">Select All</button>
    <button class="js-add-selected">Add Selected</button>
  </div>

  <div class="product-list-region">
    <!-- product list injected here -->
  </div>

  <div class="page-step-actions">
    <a class="js-next button small" href="/{{store-id}}/pages/{{page.id}}/publish">Save &amp; Continue</a>
  </div>
</div>
