<div id="page-wizard-header">
  <ol class="steps">
    <li class="name"><span><a href="/{{store.id}}/pages/{{default page.id 'new'}}">Name</a></span></li>
    <li class="import"><span><a href="/{{store.id}}/pages/{{default page.id 'new'}}/import">Import</a></span></li>
    <li class="layout"><span><a href="/{{store.id}}/pages/{{default page.id 'new'}}/layout">Layout</a></span></li>
    <li class="products"><span><a href="/{{store.id}}/pages/{{default page.id 'new'}}/products">Products</a></span></li>
    <li class="content"><span><a href="/{{store.id}}/pages/{{default page.id 'new'}}/content">Content</a></span></li>
  </ol>
</div>
