<div class="content">
  <h4>Add Product Source</h4>
  <div class="add-products">
    <div class="row">
      <label class="large-2 columns inline">Add by URL</label>
      <span class="large-8 columns">
        <input id="url" type="text" placeholder="http://..." />
      </span>
      <span class="large-2 columns text-left">
        <a href="#" id="add-url" class="small button">Add</a>
      </span>
    </div>
    <div class="row">
      <label class="large-2 columns inline">Add by Search</label>
      <span class="large-8 columns">
        <input id="search-product" type="text" placeholder="Search by product or category" />
      </span>
      <span class="large-2 columns text-left">
        <a href="#" id="add-product" class="small button">Add</a>
      </span>
    </div>
    <div class="row">
      <h4>Product Sources</h4>
      <div class="sources">
        {{#each product_sources}}
        <div class="row item">
          <div class="large-6 columns details">
            {{title}}
            <span class="title">
              <b>Title:</b>
              {{source.title}}
            </span><br />
            {{title}}
            {{url}}
            <span class="link">
              <b>URL:</b>
              <a href="{{url}}" target="_blank">{{url}}</a>
            </span>
            {{.url}}
          </div>
          <div class="large-2 columns text-center status-{{status}}">
            {{default status 'Fetching'}}
          </div>
          <div class="large-4 columns text-right action">
            <a href="#" class="remove">Remove</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>