<table class="large-12">
  <thead>
  <tr>
    <th>Name</th>
    <th>Last Saved</th>
    <th></th>
    <th></th>
    <th></th>
    <!-- TODO: th></th -->
  </tr>
  </thead>
  <tbody>
  {{#each pages}}
    <tr>
      <td><a href="/{{store-id}}/pages/{{id}}">{{default name "(Untitled)"}}</a></td>
      <td>{{formatDate last-modified '%d/%m/%Y'}}</td>
      <td><a href="/{{store-id}}/pages/{{id}}">Edit Page</a></td>
      <td><a href="/{{store-id}}/pages/{{id}}/view" target="_blank">View Page</a></td>
      <td><a href="/{{store-id}}/pages/{{id}}/analytics">Analytics</a></td>
      <!-- TODO: td><a href="#">Duplicate</a></td-->
    </tr>
  {{/each}}
  </tbody>
</table>