<td>
    {{#if images}}
        <div class="image"
             style="background-image:url({{images.large.url}})">&nbsp;</div>
    {{else}}
        <div class="image"
             style="background-image:url('http://placehold.it/180x180&text=No Thumbnail')">
            &nbsp;
        </div>
    {{/if}}
</td>
<td>
    {{name}}
</td>
<td class="actions">
    {{#if added}}
        <a class="js-remove-from-page" href="/{{store-id}}/product/{{id}}">
            Remove from Page<i class="icon-general-error"></i>
        </a>
        <!--
  <a class="js-prioritize-for-page" href="/{{store-id}}/content/{{id}}/prioritize">
    Prioritize for Page <i class="icon-general-up-arrow"></i>
  </a>
  -->
    {{else}}
        <a class="js-add-to-page" href="/{{store-id}}/product/{{id}}">
            Add to Page <i class="icon-general-checkmark"></i>
        </a>
        <!--
  <a class="js-prioritize-for-page" href="/{{store-id}}/content/{{id}}/prioritize">
    Approve & Prioritize for Page <i class="icon-general-up-arrow"></i>
  </a>
  -->
    {{/if}}
</td>
