<div class="content">
    <h4>Publish Page</h4>
    <div class="page-edit">
        <hr>

        <h5>This page is being prepared for you.</h5>
        <p>
            If you have added new content to the page, it will be live in about 10 minutes.
        </p>
        <div class="actions row">
            <a class="button" target="_blank" href="{{store.public-base-url}}{{page.url}}">
                View live page
            </a>
            {{#isnt url prodUrl}}
                <button class="publish js-next button">Copy to production</button>
            {{/isnt}}
        </div>
        <div class="row">
            {{#if successUrl}}
                Page saved to <a target="_blank" href="{{successUrl}}">{{successUrl}}</a>.
            {{/if}}
            {{#if failMsg}}
                Page failed to transfer: {{failMsg}}
            {{/if}}
        </div>
    </div>
</div>
