<div class="content-image">
  <img src="{{images.large.url}}{{video-thumbnail}}"/>
</div>
<div class="content-info">
  <div class="content-source">
    <span class="content-label">Source:</span>
    {{#if source}}
      {{titleize source}}
      {{#is source 'facebook'}}
      <i class="icon-social-facebook"></i>
      {{/is}}
      {{#is source 'instagram'}}
      <i class="icon-social-instagram"></i>
      {{/is}}
      {{#is source 'youtube'}}
      <i class="icon-social-youtube"></i>
      {{/is}}
    {{else}}
      No Source
    {{/if}}
  </div>
  <div class="content-type-info">
    <span class="content-label">Type:</span>
    {{#if type}}
      {{titleize type}}
      {{#is type 'video'}}
      <i class="icon-general-video"></i>
      {{/is}}
    {{else}}
      No Type
    {{/if}}
  </div>
  <span class="content-label">Caption</span>
  <textarea class="content-caption">{{default caption "(No Caption)"}}</textarea>
  <span class="content-caption-label">Tagged Products</span>
  <div class="tag-content"></div>
  <div class="content-tag-buttons">
    {{#is status 'approved'}}
    <button class="js-content-reject">
      Reject <i class="icon-general-remove"></i>
    </button>
    {{/is}}
    {{#isnt status 'approved'}}
    <button class="js-content-approve">
      Approve <i class="icon-general-checkmark"></i>
    </button>
    {{/isnt}}
    <button class="js-content-preview">
      Preview <i class="icon-accessibility-eyeball"></i>
    </button>
  </div>
</div>