<div class="item {{#if selected}}selected{{/if}}">
  <div class="image-container center text-center">
    {{#if video}}
    <div class="image" style="background-image:url({{video-thumbnail}})" />
    {{else}}
    {{#if remote-url}}
    <div class="image" style="background-image:url({{images.medium.url}})" />
    {{else}}
    <div class="image" style="background-image:url('http://placehold.it/180x180&text=No Thumbnail')" />
    {{/if}}
    {{/if}}
  </div>
  <div class="overlay">
    <span class="actions text-center">
      <div class="row">
      <a class="js-approve" href="/{{store-id}}/content/{{id}}/approve">
        Approve <i class="icon-general-checkmark"></i>
      </a>
      </div>
      <div class="row">
      <a class="js-reject" href="/{{store-id}}/content/{{id}}/reject">
        Reject <i class="icon-general-error"></i>
      </a>
      </div>
      <div class="row">
      <a class="js-view" href="/{{store-id}}/content/{{id}}">
        Quick View <i class="icon-general-search"></i>
      </a>
      </div>
      <div class="row">
      <a class="js-select selected">
        <form>
          <label for="selected"><input type="checkbox" class="js-selected" {{#if selected}}checked{{/if}}><span class="custom checkbox"></span> Select</label>
        </form>
      </a>
      </div>
    </span>
    {{#if approved}}
    <span class="approved status"><i class="icon-general-checkmark"></i></span>
    {{/if}}
    {{#if rejected}}
    <span class="rejected status"><i class="icon-general-error"></i></span>
    {{/if}}
    {{#if undecided}}
    <span class="undecided status"><i class="icon-accessibility-question"></i></span>
    {{/if}}
    <div class="color" />
  </div>
  <div class="edit-area large-8 columns">
  </div>
</div>