<div id="content_show">
  <form>
    <div class="row">
      <div class="large-6 small-12 columns">
        <div class="row center text-center">
          {{#if video}}
            <iframe width="320" height="240" src="{{video-embed-url}}" frameborder="0" allowfullscreen></iframe>
          {{else}}
            {{#if remote-url}}
            <img src="{{images.medium.url}}"/>
            {{else}}
            <img src="http://placehold.it/175x175"/>
            {{/if}}
          {{/if}}
        </div>
        <div class="row text-center">
          <dl>
            <dt>Created</dt>
            <dd>{{formatDate created "%d/%m/%Y"}}</dd>
            <dt>Status</dt>
            <dd>
              {{#if active}}
                {{#if approved}}
                  Approved<br/>
                  <button class="js-reject tiny button alert">Reject</button>
                {{else}}
                Awaiting Decision <br /><br />
                  <button class="js-approve tiny button success">Approve</button><br/>
                  <button class="js-reject tiny button alert">Reject</button>
                {{/if}}
              {{else}}
                Rejected<br />
                <button class="js-approve tiny button success">Approve</button>
              {{/if}}
            </dd>
          </dl>
        </div>
      </div>
      <div class="large-6 small-10 columns">
        <div class="row">
          <div class="small-1 columns">
            <label for="title" class="right inline">Title</label>
          </div>
          <div class="small-11 columns">
            <input name="title" type="text" value="{{title}}">
          </div>
        </div>
        <div class="row">
          <div class="small-1 columns">
            <label for="caption" class="right inline">Caption</label>
          </div>
          <div class="small-11 columns">
            <textarea name="caption" type="text">{{caption}}</textarea>
          </div>
        </div>
        <div class="row">
          <div class="small-1 columns">
            <label for="description" class="right inline">Description</label>
          </div>
          <div class="small-11 columns">
            <textarea name="description" type="text">{{description}}</textarea>
          </div>
        </div>
        <div class="row">
          <div class="small-1 columns">
            <label for="original-url" class="right inline">Origin</label>
          </div>
          <div class="small-11 columns">
            <small><a href="{{original-url}}">{{original-url}}</a></small>
          </div>
        </div>
        <div class="row">
          <div class="small-1 columns">
            <label for="source-url" class="right inline">Source</label>
          </div>
          <div class="small-11 columns">
            <small><a href="{{source-url}}">{{source-url}}</a></small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 right columns"/>
      <div class="small-4 right columns text-center">
        <button class="js-save small" type="submit">Save Changes</button>
      </div>
    </div>
  </form>
  <h3>Related Products</h3>
  <div class="row">
  {{#each product-ids}}
    <div class="small-2 text-center columns">
      <a href="/{{store-id}}/products/{{id}}">
        {{default-image-id.images}}
        <img src="{{default-image-id.images.compact.url}}"/>
      </a><br />
      {{name}}
    </div>
  {{/each}}
  </div>
</div>
