<div id="content_show">
  <h2>Id</h2>
  {{id}}
  <h2>Name</h2>
  {{name}}
  <h2>Title</h2>
  {{title}}
  <h2>Caption</h2>
  {{caption}}
  <h2>Active</h2>
  {{active}}
  <h2>Created</h2>
  {{formatDate created "%d/%m/%Y"}}
  <h2>Description</h2>
  {{description}}
  <h2>Remote URL</h2>
  {{remote_url}}
  <h2>Source URL</h2>
  {{source_url}}
  <h2>Original Url</h2>
  {{original_url}}
  <h2>Related Products</h2>
  {{product-ids}}
  <h2>Store</h2>
  {{store-id}}
</div>
