<nav class='top-bar'>
  <ul class='title-area'>
    <li class='name'>
      <h1>
        <a href='/'>
          <div class="logo"/>
        </a>
      </h1>
    </li>
    <li class='toggle-topbar menu-icon'>
      <a href='#'>
        <span>Menu</span>
      </a>
    </li>
  </ul>
  <section class='top-bar-section'>
    {{#if store}}
      <ul class='left'>
        <li class='divider'></li>
        <li class='active'>
          <a href='/{{store.id}}/content'>Content/Assets</a>
        </li>
        <li class='divider'></li>
        <li class='active'>
          <a href='/{{store.id}}/products'>Products</a>
        </li>
        <li class='divider'></li>
        <li class='active'>
          <a href='/{{store.id}}/themes'>Theme Manager</a>
        </li>
        <li class='divider'></li>
        <li class='active'>
          <a href='/{{store.id}}/analytics'>Analytics</a>
        </li>
        <li class='divider'></li>
      </ul>
    {{/if}}
    {{#if 0}}
    <ul class='right'>
      <li class='divider hide-for-small'></li>
      <li>
        <a href='#'>Account</a>
      </li>
      <li>
        <a href='/logout'>Logout</a>
      </li>
    </ul>
    {{/if}}
  </section>
</nav>
{{#if store}}
<span class="bread-crumbs">
  <a href="/">Stores</a> &#0187; <a href="/{{store.id}}">{{store.name}}</a>
</span>
{{/if}}

