{{> "pages_wizard_header"}}
<div class="content">
  <div class="page-edit layout">
    <div class="container">
      <div class="layout-types text-center">
          <div class="layout-type columns selected">
            <span class="row"><img src="http://placehold.it/100x100" /></span>
            <span class="row">Hero Image</span>
          </div>
          <div class="layout-type columns">
            <span class="row"><img src="http://placehold.it/100x100" /></span>
            <span class="row">Featured Product</span>
          </div>
          <div class="layout-type columns">
            <span class="row"><img src="http://placehold.it/100x100" /></span>
            <span class="row">Shop The Look</span>
          </div>
      </div>
      <br/>
      <hr />
      <div class="layout-options">
        <div class="row">
          <span class="large-4 columns inline">Hero Image (Desktop)</span>
          <span class="large-8 columns">
            <input type="file" value="{{page.hero_desktop}}" />
          </span>
        </div>
        <div class="row">
          <span class="large-4 columns inline">Hero Image (Mobile)</span>
          <span class="large-8 columns">
            <input type="file" value="{{page.hero_mobile}}" />
          </span>
        </div>
        <div class="row">
          <span class="large-4 columns inline">Legal Copy</span>
          <span class="large-8 columns">
            <textarea placeholder="enter text...">{{page.legal}}</textarea>
          </span>
        </div>
        <div class="row">
          <span class="large-4 columns inline">Facebook Share Copy</span>
          <span class="large-8 columns">
            <input type="text" value="{{page.facebook_share}}" placeholder="enter text..." />
          </span>
        </div>
        <div class="row">
          <span class="large-4 columns inline">Twitter Share Copy</span>
          <span class="large-8 columns">
            <input type="text" value="{{page.twitter_share}}" placeholder="enter text..." />
          </span>
        </div>
        <div class="row">
          <span class="large-4 columns inline">Email Share Copy</span>
          <span class="large-8 columns">
            <input type="text" value="{{page.email_share}}" placeholder="enter text..." />
          </span>
        </div>
      </div>
    </div>
    <div class="actions row">
      <a class="js-next button small" href="/{{store-id}}/pages/{{page.id}}/products">Save &amp; Continue</a>
    </div>
  </div>
</div>