<div class="list">
  <h2>Products</h2>
  {{#each this}}
  <div class="row box">
    <a href="/{{store-id}}/products/{{id}}">
      <div class="large-4 columns">
        <div class="row center text-center">
          {{#if default-image-id}}
          <img src="{{default-image-id.images.compact.url}}"/>
          {{else}}
          <img src="http://placehold.it/160x160"/>
          {{/if}}
        </div>
      </div>
      <div class="large-8 columns">
        <dl>
          <dt>Name</dt>
          <dd>{{name}}</dd>
          <dt>Description</dt>
          <dd>{{{description}}}</dd>
        </dl>
      </div>
    </a>
  </div>
  {{else}}
  (None)
  {{/each}}
</div>
